PORT = 8000

DATABASE_URL=DATABASE_URL
CORS_ORIGIN=CORS_ORIGIN
JWT_ACCESS_TOKEN_SECRET=your_access_token_secret
JWT_REFRESH_TOKEN_SECRET=your_refresh_token_secret
JWT_ACCESS_TOKEN_EXPIRATION=7d
JWT_REFRESH_TOKEN_EXPIRATION=30d

FRONTEND_URL=FRONTEND_URL

OPENAI_API_KEY=OPENAI_API_KEY

PDF_SERVICES_CLIENT_ID=PDF_SERVICES_CLIENT_ID
PDF_SERVICES_CLIENT_SECRET=PDF_SERVICES_CLIENT_SECRET